.chat {
	display: flex;
	align-items: center; /* 水平置中 */
	justify-content: space-between; /* 彼此間隔 */
	padding: 20px; 
	height: 70px;
	border-bottom: 1px solid #fafafa;
}

a { /* 連結美化 */
	text-decoration: none; /* 去除底線 */
	color:inherit; /* 去除顏色 */
}

.chat__details {
	flex:1; /* 改掉space between ，使其向左靠 */
	margin-left: 20px;
}

.chat__details > p {
	color: gray;
}

.chat__timestamp {
	margin-left:20px;
	color: lightgray;
}