.chatScreen{
	padding-top: 8vh;
}

.chatScreen__container{
	padding-bottom: 10vh;
}

.chatScreen__message {
	display: flex;
	align-items: center;
	padding: 20px;
}

.chatScreen__timestamp {
	text-align: center;
	padding: 20px;
	color: gray;
}

.chatScreen__text { /* 訊息的灰圓底 */
	margin-left: 10px;
	background-color: lightgray;
	padding: 15px;
	border-radius: 20px;
	word-break: normal;
	white-space: pre-wrap;
	word-wrap:break-word;
	max-width: 50vw;
}

.chatScreen__owntext {
	margin-left: auto; /* 推到畫面右側 */
	background-color: #29b3cd;
	padding: 15px;
	border-radius: 20px;
	color: white;
	word-break: normal;
	white-space: pre-wrap;
	word-wrap:break-word;
	max-width: 50vw;
}

.chatScreen__form {
	position: fixed;
	display:flex;
	padding: 5px;
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 1px solid lightgray;
	background-color: white;
}

.chatScreen__input {
	flex:1;
	padding: 10px;
	border: none;
}

.chatScreen__button {
	margin-right:20px;
	border: none;
	background-color: white;
	font-weight: bolder;
	color: #fe3d71;
	cursor: pointer;
}