.header{
	display: flex;
	position: fixed;
	width: 100%;
	height: 10vh;
	justify-content: space-between; /* 自動間距 */
	align-items: center;
	border-bottom: 1px solid #f9f9f9;
	background-color: white;
}

.header__logo{
	height: 80px;
	object-fit: contain; /* 圖片保持不變形 */
}

.header__icon{
	padding: 20px;
}

